# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\learningStep\mechine_learning\novel coronavirus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
